In [1]:
import pandas as pd
df = pd.read_csv("carprices.csv")
df

         Car Model  Mileage  Sell Price  Age
0           BMW X5    69000       18000    6
1           BMW X5    35000       34000    3
2           BMW X5    57000       26100    5
3           BMW X5    22500       40000    2
4           BMW X5    46000       31500    4
5             Audi    59000       29400    5
6             Audi    52000       32000    5
7             Audi    72000       19300    6
8             Audi    91000       12000    8
9   Mercedez Benz     67000       22000    6
10  Mercedez Benz     83000       20000    7
11  Mercedez Benz     79000       21000    7
12  Mercedez Benz     59000       33000    5
13          Toyota    51000       42000    4
14          Toyota    65000       32000    7
15          Toyota    39000       55000    5

In [2]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [3]:
dfle = df

In [4]:
dfle["Car Model"] = le.fit_transform(dfle["Car Model"])

In [5]:
X = dfle[['Car Model','Mileage','Age']].values
X

array([[    1, 69000,     6],
       [    1, 35000,     3],
       [    1, 57000,     5],
       [    1, 22500,     2],
       [    1, 46000,     4],
       [    0, 59000,     5],
       [    0, 52000,     5],
       [    0, 72000,     6],
       [    0, 91000,     8],
       [    2, 67000,     6],
       [    2, 83000,     7],
       [    2, 79000,     7],
       [    2, 59000,     5],
       [    3, 51000,     4],
       [    3, 65000,     7],
       [    3, 39000,     5]], dtype=int64)

In [6]:
y = dfle["Sell Price"].values
y

array([18000, 34000, 26100, 40000, 31500, 29400, 32000, 19300, 12000,
       22000, 20000, 21000, 33000, 42000, 32000, 55000], dtype=int64)

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('Car Model', OneHotEncoder(), [0])], remainder = 'passthrough')

In [12]:
X = ct.fit_transform(X)
X

array([[0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 6.90e+04, 6.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 3.50e+04, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 5.70e+04, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 2.25e+04, 2.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 0.00e+00, 4.60e+04, 4.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 5.90e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 5.20e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 7.20e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 0.00e+00, 9.10e+04, 8.00e+00],
       [1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 6.70e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 8.30e+04, 7.00e+00],
       [1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 7.90e+04, 7.00e+00],
       [1.00e+00, 0.00e+00, 1.00e+00, 0.00e+00, 5.90e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 5.10e+04, 4.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 6.50e+04, 7.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 1.00e+00, 3.90e+04, 5.00e+00]])

In [22]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [23]:
model.score(X,y)

0.9461669991799323

In [24]:
model.predict([[86000,0,1,3,5]])

array([-4.39151004e+08])